body {
    font-family: sans-serif;
    margin: 0
}

main {
    align-items: center;
    background-color: #0d1a2d;
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw
}

section {
    background-color: #15273f;
    border-radius: 2rem;
    display: inline-block;
    max-height: 40rem;
    max-width: 18rem;
    padding: 1rem
}

section div:first-child {
    text-align: center
}

section div img.imgNFT {
    border-radius: 1rem;
    height: 200px;
    object-fit: cover;
    width: 290px
}

section div:first-child img.imgNFT,
section div:nth-child(2) h1.title,
section div:nth-child(4) span {
    cursor: pointer
}

section div:nth-child(2) h1.title,
section div:nth-child(4) span {
    color: #fff;
    transition: color .3s
}

section div:nth-child(2) h1.title:hover,
section div:nth-child(4) span:hover {
    color: #40d8ed
}

section div:nth-child(3) {
    display: flex;
    justify-content: space-between
}

section div:nth-child(3) p.balance {
    color: #40d8ed;
    font-weight: 700
}

section div:nth-child(3) p.date {
    color: gray;
    font-style: italic
}

section div:nth-child(4) {
    align-items: center;
    display: flex;
    gap: 1rem
}

section div:nth-child(4) img {
    border: 2px solid;
    border-radius: 100%;
    height: 50px
}

section div:nth-child(4) p {
    color: gray
}

section div:nth-child(4) span {
    font-weight: 700
}