body {
    margin: 0;
    font-family: sans-serif;
}

main {
    background-color: #0d1a2d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

section {
    background-color: #15273f;
    padding: 1rem;
    max-width: 18rem;
    max-height: 40rem;
    border-radius: 2rem;
    display: inline-block;
}

section div:nth-child(1) {
    text-align: center;
}

section div img.imgNFT {
    width: 290px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}

section div:nth-child(2) h1.title,
section div:nth-child(4) span,
section div:nth-child(1) img.imgNFT {
    cursor: pointer;
}

section div:nth-child(2) h1.title,
section div:nth-child(4) span {
    color: white;
    transition: color 0.3s;
}

section div:nth-child(2) h1.title:hover,
section div:nth-child(4) span:hover {
    color: #40d8ed;
}

section div:nth-child(3) {
    display: flex;
    justify-content: space-between;
}

section div:nth-child(3) p.balance {
    color: #40d8ed;
    font-weight: bold;
}

section div:nth-child(3) p.date {
    color: gray;
    font-style: italic;
}

section div:nth-child(4) {
    display: flex;
    align-items: center;
    gap: 1rem;
}

section div:nth-child(4) img {
    height: 50px;
    border-radius: 100%;
    border: solid 2px;
}

section div:nth-child(4) p {
    color: gray;
}

section div:nth-child(4) span {
    font-weight: bold;
}