body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #1e1e1e;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .nav-links {
        display: none; /* disembunyikan */
        flex-direction: column;
        gap: 10px;
        background: #1e1e1e;
        padding: 20px;
    }

    .hamburger {
        display: block;
    }
}