body {
    background: #f4f4f4;
}

div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.blog-card {
    border-radius: 10px;
    max-width: 368px;
    max-height: 600px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
}

.blog-card img {
    width: 336px;
    height: 152px;
    object-fit: cover;
    margin: 16px;
    border-radius: 10px;
}

.blog-card .tag {
    margin: 0 16px;
    background-color: rgba(138, 43, 226, 0.2);
    color: rgb(138, 43, 226);
    font-weight: bold;
    padding: 4px 16px;
    border-radius: 10px;
    display: inline-block;
}

.blog-card .title {
    margin-inline: 16px;
}

.blog-card .desc {
    margin-inline: 16px;
    margin-top: -8px;
    margin-bottom: 20px;
}

.blog-card .author {
    color: gray;
    font-size: small;
    margin-block: 20px;
    margin-inline: 16px;
}
