body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5d04e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    border: solid 1px;
    border-radius: 20px;
    padding: 25px;
    max-width: 325px;
    background-color: #fff;
    box-shadow: 6px 6px 0 ;
}

section img.imgNews {
    width: 324px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

section p.tag {
    background-color: #f5d04e;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

section p.date {
    margin: 0;
    font-style: italic;
    color: gray;
}

section h1.judul {
    color: black;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}

section h1.judul:hover {
    color: #f5d04e;
}

section div {
    display: flex;
    gap: 10px;
    height: 50px;
    align-items: center;
}

section div img.imgProfile {
    border-radius: 100%;
    height: 40px;
}